* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

p,
a {
  font-family: "Source Sans Pro";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}


h1{
  font-size: 40px;
  font-weight: 900;
}

h2{
  font-size: 20px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom:2px solid var(--tertiary-color);
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  margin: 16px 16px 20px 0;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 3;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  /* after og before er psheudo elementer der kan lave flere elementer til den det givet element*/
  content: ""; /* content er none*/
  display: block;
  width: 100%;
  height: 5px;
  background-color:var(--secondary-color);
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.mobil-nav {
  margin-top: 105px;
  display: block;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: #f5f5f5df;
  padding-top: 140px;
  transition: 0.4s;
}

.mobil-nav.is-active {
  left: 0;
}

.mobil-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 40px;
  text-align: center;
  padding: 16px;
  background-color: rgba(212, 210, 210, 0.748);
  color:var(--secondary-color);
  border-radius: 6px;
  box-shadow: 6px 6px 1px 1px var(--tertiary-color);
}

.nav_link {
  font-size: 18px;
  font-weight: 300;
  background: rgba(212, 210, 210, 0.254);
  box-shadow: 6px 6px 1px 1px var(--tertiary-color);
  padding: 10px;
  margin: 0 5px;
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 6px;
  display: none;
  transition: 0.2s;
}

.nav_link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

li {
  list-style: none;
  display: flex;
  padding: 0 16px;
}

body {
  background-color:var(--primary-color);
  /* background-image: url(/grafik/BG_test-01.svg);*/
}

#logo {
  margin: 12px 0 13px 10px;
  width: 6vh;
  height: 6vh;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.nav-text {
  text-align: center;
  flex-grow: 1;
  margin-top: 16px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  color: var(--secondary-color);
  margin-top: 20px;
}

.box {
  margin: 10% 5%;
  background-color: var( --bane-color);
  padding: 20px;
  box-shadow: 12px 12px 2px 1px #7fc08c;
  border-radius: 10px;
  margin-bottom: 40px;
}

.scorekort {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 16px;
  color:var(--secondary-color);
  background-color: rgba(212, 210, 210, 0.254);
  border-radius: 6px;
  box-shadow: 6px 6px 1px 1px #7fc08c;
}

#scorekort_img {
  margin: 20px 40px 0px 40px;
}

.scorekort:hover {
  background-color:var(--secondary-color);
  color: var(--primary-color);
}

.appstore_p {
  margin: 0px 10px 40px 0;
}

.appstore_p,
.appstore_a {
  display: block;
  width: 100%;
  max-width: 170px;
  max-height: 60px;
  text-align: center;
  padding: 16px;
  background-color: rgba(212, 210, 210, 0.254);
  transform: scale(90%);
  border-radius: 6px;
  box-shadow: 6px 6px 1px 1px  #7fc08c;
 
}

.appstore_a {
  margin: 0px auto 40px;
}

.appstore_a:hover,
.appstore_p:hover {
  background-color: var(--secondary-color);
}

.appstore_a:hover > p,
.appstore_p:hover > p {
  color:var(--primary-color);
}

#banen_ikon {
  margin: 40px auto 0 auto;
  width: 200px;
  display: block;
  transition: 0.2s;
 
}

#overskrift {
  margin: 22px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 37px;
  color:#2e2d2b;

}

h3 {
  text-align: center;
  margin: 1%;
  font-weight: 900;
  font-size: 30px;
  color: var(--secondary-color);
  margin-left: 20px;
}

p {
  margin: 16px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-color);
  text-align: left;
}

#udisc_text {
  text-align: left;
  margin: 16px;
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-color);
  margin-top: -10px;
}

#udsic_logo {
 margin:8% 28%;
 justify-content: center;
  display: block;
  width: 40%;
  
}

#udisc_mobil {
  margin: 20px 40px 30px 40px;
  
}

#banekort {
  margin: 20px 0px 20px 10px;
  width: 96%;
  justify-content: center;
}

#playstore_logo {
  width: 40px;
  margin: 2px 0 20px 0;
  position: relative;
  top: -10px;
  right: 55px;
}

#appstore_logo {
  width: 40px;
  margin: 2px 0 20px 0;
  position: relative;
  top: -10px;
  right: 55px;
}

.app_text {
  text-align: right;
  margin-top: -86px;
  font-size: 20px;
  font-weight: 400;
  margin-right: 17px;
}

.textbox {
  margin: 20px 40px 30px 40px;
  text-align: center;
  font-size: 18px;
  color: var(--secondary-color);
}

.textbox a:hover {
  color: var(--primary-color);
}

.textbox_s {
  margin: 0;
  text-align: center;
  font-size: 18px;
  color: var(--secondary-color);
}

.text_app_p {
  text-align: center;
  display:block;
  margin-bottom: 6%;
  margin-top: -10%;
}


.grid_1-1_link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

footer {
  background-color: #9a97975d;
  gap: 10%;
  
}
footer p{
  text-align: center;
  padding: 2%;
  margin: auto;
  justify-content: center;
  font-family: 'Source Sans Pro';
}

@media (min-width: 800px) {
  main {
    margin: auto;
    max-width: 1200px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .mobil-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #logo {
    margin: 12px 0 0 10px;
    height: 11vh;
    width: 10vh;
  }

  .nav_link {
    display: inline-block;
  }

  h1,
  h2 {
    padding-left: 20%;
  }

  h3 {
    text-align: left;
    padding-left: 20px;
    margin-top: 40px;
    font-size: 35px;
    font-weight: 800;
  
  }

  nav {
    position: relative;
    margin: auto;
    padding-right: 60px;
  }

  #banen_ikon {
    width: 15%;
    display: inline-block;
    margin: 80px 0 -10px 30px;
  }
 
  #overskrift {
    margin: -7.5% 0 10% 20%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:#2e2d2b;
  }
  
  .banen{
    padding-bottom: 0;
  }

  .box {
    margin: 1% 5% 10%;
    background-color: var( --bane-color);
  }

  #udsic_logo {
    max-width: 260px;
    justify-content: left;
    margin-left: 40px;
    margin-top: 8%;
    margin-bottom: 10px;
  }

  #udisc_text {
    text-align: left;
    margin: 40px;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-color);
  }
  

  #banekort {
    display: block;
    margin: 0;
    max-width: 700px;
  }

  p {
    display: flex;
    text-align: left;
    text-decoration: none;
    margin: 20px 45px;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-color);
  }

  .textbox {
    margin: 30px 40px 20px 40px;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-color);
  }

  #scorekort_img {
    display: block;
    margin-left: 16.5%;
    justify-content: center;
    max-width: 700px;
  }

  #scorekort_text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-color);
  }

  .scorekort {
    margin-bottom: 30px;
    display: block;
    margin-top: 40px;
  }

  .textbox_s {
    display: block;
    text-align: center;
  }



  #udisc_mobil {
    display: block;
    margin:40px 40px 0 40px;
    max-width: 700px;
  }

  .app_text {
    text-align: left;
  }

  .text_app_a {
    position: relative;
  }

  .text_app_p {
    position: relative;
    margin-top: 1%;
  }

  .appstore_a {
    position: relative;
    transform: none;
  }

  .appstore_p {
    margin-left: 40px;
    position: relative;
    transform: none;
  }

  .textapp {
    margin: 0;
  }
 
  footer p{
    text-align: center;
    padding: 2%;
    margin: auto;
    justify-content: center;
  font-family: 'Source Sans Pro';
  }
 
}

@font-face {
  font-family: "SourceSansPro";
  src: url(../font/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../font/Raleway-VariableFont_wght.ttf);
}
