#time_container{
    width: 8.5%;
    position: absolute;
    aspect-ratio: 175/468;
    top: 15%;
    left: 89.5%;
}


#penis_outline{
    position: absolute;
    background-image: url(../img/timer_outline.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#penis_fill{
    position: absolute;
    background-image: url(../img/timer_fill.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.penistimer {
    animation-name: fill;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fill {
    0% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }

}